/* base */
.border-t-base-100 {
  border-top-color: var(--sa-base-100);
}

.border-t-base-200 {
  border-top-color: var(--sa-base-200);
}

.border-t-base-300 {
  border-top-color: var(--sa-base-300);
}

.border-t-base-content {
  border-top-color: var(--sa-base-content);
}

/* neutral */
.border-t-neutral {
  border-top-color: var(--sa-neutral);
}

.border-t-neutral-content {
  border-top-color: var(--sa-neutral-content);
}

/* primary */
.border-t-primary {
  border-top-color: var(--sa-primary);
}

.border-t-primary-content {
  border-top-color: var(--sa-primary-content);
}

/* secondary */
.border-t-secondary {
  border-top-color: var(--sa-secondary);
}

.border-t-secondary-content {
  border-top-color: var(--sa-secondary-content);
}

/* accent */
.border-t-accent {
  border-top-color: var(--sa-accent);
}

.border-t-accent-content {
  border-top-color: var(--sa-accent-content);
}

/* error */
.border-t-error {
  border-top-color: var(--sa-error);
}

.border-t-error-content {
  border-top-color: var(--sa-error-content);
}

/* success */
.border-t-success {
  border-top-color: var(--sa-success);
}

.border-t-success-content {
  border-top-color: var(--sa-success-content);
}

/* info */
.border-t-info {
  border-top-color: var(--sa-info);
}

.border-t-info-content {
  border-top-color: var(--sa-info-content);
}

/* warning */
.border-t-warning {
  border-top-color: var(--sa-warning);
}

.border-t-warning-content {
  border-top-color: var(--sa-warning-content);
}

/* primary */
.hover\:border-t-primary:hover,
.focus\:border-t-primary:focus {
  border-top-color: var(--sa-primary-focus);
}

.active\:border-t-primary.active,
.active\:border-t-primary[active]:not([active='false']) {
  border-top-color: var(--sa-primary-active);
}

/* secondary */
.hover\:border-t-secondary:hover,
.focus\:border-t-secondary:focus {
  border-top-color: var(--sa-secondary-focus);
}

.active\:border-t-secondary.active,
.active\:border-t-secondary[active]:not([active='false']) {
  border-top-color: var(--sa-secondary-active);
}

/* accent */
.hover\:border-t-accent:hover,
.focus\:border-t-accent:focus {
  border-top-color: var(--sa-accent-focus);
}

.active\:border-t-accent.active,
.active\:border-t-accent[active]:not([active='false']) {
  border-top-color: var(--sa-accent-active);
}

/* neutral */
.hover\:border-t-neutral:hover,
.focus\:border-t-neutral:focus {
  border-top-color: var(--sa-neutral-focus);
}

.active\:border-t-neutral.active,
.active\:border-t-neutral[active]:not([active='false']) {
  border-top-color: var(--sa-neutral-active);
}

/* disabled */
[disabled]:not([disabled='false']):hover {
  border-top-color: transparent !important;
}

.border-t-disabled {
  border-top-color: var(--sa-disabled) !important;
}

.border-t-disabled-content {
  border-top-color: var(--sa-disabled-content) !important;
}

/* none */
.border-t-none {
  border-top-color: transparent !important;
}
